@import "tailwindcss";
@source "../views";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&family=Fredoka+One&family=DM+Sans:wght@400;700&display=swap");

@layer utilities {
    .text-gold {
        color: #ffd700;
    }
}

.legalitas {
    background-color: #212121; /* Warna latar belakang section */
}
.image-container {
    position: relative;
}

.news-title {
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    font-size: 22px;
    background: linear-gradient(to bottom, #c39f26, #c3af82);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-plus-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 42px;
    background: linear-gradient(to bottom, #c9b172, #f3db9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.font-jakarta-netral {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #ffffff;
}

.font-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #f3db9f;
}

.font-jakarta-semi-netral {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}
.font-jakarta-semi {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #ffffff;
}
